/target/
!.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
*.ipr
.idea
*.iws
*.iml

### NetBeans ###
/dist/
/nbproject/private/
/build/
/nbbuild/
/nbdist/
/.nb-gradle/

src/main/resources/static
